* {
    scroll-behavior: smooth;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinking {
    animation: blink 1s infinite;
}


h1,
h2,
h3,
h4{
    text-wrap: pretty;
}